{% extends "rest_framework/base.html" %}

{% load static %}

{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head 
content must come *after* these tags -->
<meta name="description" content="Upload files to Raven, and it will generate a special URL from which the files can be downloaded.">
<meta name="author" content="Raven">


<!-- Facebook Meta -->
<meta property="og:title" content="Raven - Send files faster than lightning" >
<meta property="og:site_name" content="Raven" >
<meta property="og:url" content="https://tryraven.com" >
<meta property="og:image" content="{% static 'img/logo-share.png' %}" >
<meta property="og:description" content="Upload files to Raven, and it will generate a special URL from which the files can be downloaded." >

<!-- Favicons [Generated at http://realfavicongenerator.net]
================================================== -->
<link rel="apple-touch-icon" sizes="180x180"
      href="{% static 'img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32"
      href="{% static 'img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png"  sizes="16x16"
      href="{% static 'img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
<link rel="mask-icon" color="#0e7dd8"
      href="{% static 'img/favicon/safari-pinned-tab.svg' %}">
<meta name="theme-color" content="#ffffff">
{% endblock %}

{% block title %}Raven REST API{% endblock %}

{% block bootstrap_theme %}
<link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/bootstrap-tweaks.css' %}"/>
<!-- Add customizations to the Browsable API's CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/api.css' %}"/>
{% endblock %}

{% block branding %}
<a class='navbar-brand' rel="nofollow" href="{% url 'api_root' %}">
  Raven REST API <span class="version">1</span>
</a>
{% endblock %}
