{% extends "email/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<tr>
  <td style="{{ css_td }}
             padding: 20px 20px 26px;">
    <h2 style="{{ css_h2 }}">Welcome to Raven!</h2>
    
    <p style="{{ css_p }}">
      You recently registered <strong>{{ email }}</strong>, but
      it isn't activated yet. It's time to do that now.</p>

    
    
    <p style="Margin: 0 0 8px;">
      <a class="btn--action" role="button" href="{{ activation_link }}"
         target="_blank" style="{{ css_a_button }}">
        Activate my account
      </a>
    </p>
    
    <p style="{{ css_p_button }}">
      You may copy/paste this link into your browser: <br />
      <a href="{{ activation_link }}" target="_blank"
         style="{{ css_a }} 
                font-weight: bold; 
                word-break: break-word;">{{ activation_link }}</a>
    </p>
    
  </td>
</tr>

<tr>
  <td style="{{ css_td }}
             border-top: 1px solid #e5e5e5;
             padding: 20px 20px 26px;
             text-align: left;">
    <p style="{{ css_p_small }}">
      Your activation link expires in {{ expiration_days }} days.</p>
    
    <p style="{{ css_p_small }}">
      Your sign in email is:<br />
      {{ email }}
    </p>
  </td>
</tr>
{% endblock %}