{% extends "email/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<tr>
  <td style="{{ css_td }}
             padding: 20px 20px 26px;">
    <p style="{{ css_p }}">
      You told us you forgot your password. If you really
      did, click here to choose a new one:
    </p>
        
    <p style="Margin: 0 0 8px;">
      <a class="btn--action" role="button" href="{{ reset_link }}"
         target="_blank" style="{{ css_a_button }}">
        Choose a new password
      </a>
    </p>
    
    <p style="{{ css_p_button }}">
      You may copy/paste this link into your browser: <br />
      <a href="{{ reset_link }}" target="_blank"
         style="{{ css_a }} 
                font-weight: bold; 
                word-break: break-word;">{{ reset_link }}</a>
    </p>
    
  </td>
</tr>

<tr>
  <td style="{{ css_td }}
             border-top: 1px solid #e5e5e5;
             padding: 20px 20px 26px;
             text-align: left;">
    <p style="{{ css_p_small }}">
      If you didn't mean to reset your password, then you can just ignore this
      email; your password will not change.
    </p>
  </td>
</tr>
{% endblock %}