////////////////////////////////////////////////////////////////////////////////
//
// raven.scss
//
// In this file you should write your main styles. (or centralize your imports)
//
////////////////////////////////////////////////////////////////////////////////

@import "base";
@import "fonts";
@import "mixins/buttons";
@import "variables";
@import "reset";
@import "zindex";
@import "error";
@import "buttons";
@import "utilities";

body {
    background-color: #fff;
    color: $color-black;
    font-family: $fontFamily-sans;
    font-weight: $fontWeight-normal;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
}

a {
    color: $color-blue;
}

a:hover {
    color: $color-blueDark;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
