{% extends "email/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<tr>
  <td style="{{ css_td }}
             padding: 20px 20px 26px;">    
    <p style="{{ css_p }}">
      You were sent a file at <strong>{{ email }}</strong>
    </p>
        
    <p style="Margin: 0 0 8px;">
      <a class="btn--action" role="button" href="{{ download_link }}"
         target="_blank" style="{{ css_a_button }}">
        Download
      </a>
    </p>
    
    <p style="{{ css_p_button }}">
      Or copy/paste this link into your browser: <br/>
      <a href="{{ activation_link }}" target="_blank"
         style="{{ css_a }} 
                font-weight: bold; 
                word-break: break-word;">{{ download_link }}</a>
    </p>
    
  </td>
</tr>

<tr>
  <td style="{{ css_td }}
             border-top: 1px solid #e5e5e5;
             padding: 20px 20px 26px;
             text-align: left;">
    <p style="{{ css_p_small }}
              font-weight: bold;
              Margin-bottom: 0;">
      File{{files|length|pluralize}} ({{ total_size}}) 
    </p>
    
    <ul style="{{ css_element }}
               list-style: none;
               Margin-bottom: 16px;">
      {% for file in files %}
      <li style="{{ css_li_small }}">{{ file }}</li>
      {% endfor %}
    </ul>
    
    <p style="{{ css_p_small }}
              Margin-bottom: 0;">
      Your file will be deleted in 1 week, so get it before then.
    </p>
    
  </td>
</tr>

{% endblock %}
