{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="{% block meta_description %}Upload files to Raven, and it will generate a special URL from which the files can be downloaded.{% endblock %}">
    <meta name="author" content="Raven">
    
    <!-- Facebook Meta -->
    <meta property="og:title" content="{% block og_title %}Raven - Send files faster than lightning{% endblock %}" >
    
    <meta property="og:site_name" content="Raven" >
    <meta property="og:url" content="{% block og_url %}https://tryraven.com{{ request.path }}{% endblock %}" >
    <meta property="og:image" content="{% block og_image %}{% static 'img/logo-share.png' %}{% endblock %}" >
    <meta property="og:description" content="{% block og_description %}Upload files to Raven, and it will generate a special URL from which the files can be downloaded.{% endblock %}">
    
    <title>
      {% block title %}Raven - Send files faster than lightning{% endblock %}
    </title>
    
    
    <!-- Favicons [Generated at http://realfavicongenerator.net]
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <link rel="mask-icon" color="#0e7dd8"
          href="{% static 'img/favicon/safari-pinned-tab.svg' %}">
    <meta name="theme-color" content="#ffffff">
        
    
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" 
          rel="stylesheet" type="text/css">
    
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" 
          rel="stylesheet" type="text/css">
    
    <!-- Custom CSS -->
    <link href="{% static 'css/raven.css' %}?v=1"
          rel="stylesheet" type="text/css">
    
    <!-- IE support
    ================================================== -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}"
          rel="stylesheet"  type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media 
    queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script>
    <![endif]-->
  </head>
  
  <body class="body {% block bodyclass %}{% endblock %}">
    {% block body %}
    {% endblock %}
    
    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    
    <!-- Boostrap core JS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
    <!-- Google analytics -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-83050227-1', 'auto');
     ga('send', 'pageview');
    </script>
    
    {% block morejs %}
    {% endblock %}
    
    <!-- Custom JavaScript -->
    <script src="{% static 'js/raven.js' %}?v=1"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
