{% comment %}
/**
 * Handle outlook quirks:
 * - Doesn't use fallback fonts so set Arial explicitly
 * - Outlook ignores padding on buttons so transfer the padding to the buttons
 */
{% endcomment %}

body,
table tr,
table td,
a,
table.MsoNormalTable {
    font-family: Arial, Helvetica, sans-serif !important;
}

.btn--action {
    padding: 0 !important;
    border: solid 8px {{ css_var_color_blue }} !important;
}
