body {
    {{ css_font|safe }}
    background: #ffffff;
    color: #373737;
    line-height: {{ css_var_line_height }};
    Margin: 0 auto; 
    max-width: 100%;
    padding: 0;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    width: 100% !important;
}

h1,
h2, 
h3, 
h4 {
    line-height: 26px;
    Margin: 0 0 12px;
}

p, 
ul,
ol,
ul li,
ol li {
    {{ css_p|safe }}
}

ul,
ol {
    Margin-bottom: 24px;
}

ul li,
ol li {
    Margin-bottom: 8px;
}

a, 
a:link, 
a:visited, 
a:hover,
a:active {
    color: {{ css_var_color_blue }};
    font-weight: normal;
    text-decoration: none;
    word-break: break-word;
}


{% comment %}
/**
 * Client-specific Styles 
 */
{% endcomment %}
#outlook a {
    padding: 0;
}

.ExternalClass {
    width: 100%;
}

.ExternalClass, 
.ExternalClass p, 
.ExternalClass span, 
.ExternalClass font, 
.ExternalClass td, 
.ExternalClass div {
    line-height: 100%;
}

{% comment %}
/**
 * Some sensible defaults for images
 * Bring inline: Yes. 
 */
{% endcomment %}
img {
    -ms-interpolation-mode: bicubic;
    border: none;
    max-width: 100%;
    outline: none; 
    text-decoration: none; 
}

{% comment %}
/** 
 * Outlook 07, 10 Padding issue fix
 * Bring inline: No.
 */
{% endcomment %}
table td {
    border-collapse: collapse;
}

{% comment %}
/**
 * Fix spacing around Outlook 07, 10 tables
 * Bring inline: Yes 
 */
{% endcomment %}

table { 
    border-collapse: collapse; 
    mso-table-lspace: 0pt; 
    mso-table-rspace: 0pt; 
}


{% comment %}
/**
 * Mobile 
 */
{% endcomment %}
@media only screen and (max-device-width: 480px) {
    {% comment %}
    /* Part one of controlling phone number linking for mobile. */
    {% endcomment %}
    a[href^="tel"], a[href^="sms"] {
        color: {{ css_var_color_blue }};
        cursor: default;
        pointer-events: none;
        text-decoration: none;
    }
}

{% comment %}
/* Not all email clients will obey these, but the important ones will */
{% endcomment %}
@media only screen and (max-width: 480px) {
    hr {
        margin: 2rem -0.75rem !important;
        padding-right: 1.5rem !important;
    }
}

{% comment %}
/* More Specific Targeting */
{% endcomment %}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    {% comment %}
    /* You guessed it, ipad (tablets, smaller screens, etc) */
    /* repeating for the ipad */
    {% endcomment %}
    a[href^="tel"], a[href^="sms"] {
        color: {{ css_var_color_blue }};
        cursor: default;
        pointer-events: none;
        text-decoration: none;
    }
}

{% comment %}
/* iPhone Retina */
{% endcomment %}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 640px)  {
    {% comment %}
    /* Must include !important on each style to override inline styles */
    {% endcomment %}
    img {
        max-width: 100%;
    }
}

{% comment %}
/* Android targeting */
{% endcomment %}
@media only screen and (-webkit-device-pixel-ratio:.75){
    {% comment %}
    /* Put CSS for low density (ldpi) Android layouts in here */
    {% endcomment %}
    img {
        height: auto;
        max-width: 100%;
    }
}
@media only screen and (-webkit-device-pixel-ratio:1){
    {% comment %}
    /* Put CSS for medium density (mdpi) Android layouts in here */
    {% endcomment %}
    img {
        height: auto;
        max-width: 100%;
    }
}
@media only screen and (-webkit-device-pixel-ratio:1.5){
    {% comment %}
    /* Put CSS for high density (hdpi) Android layouts in here */
    {% endcomment %}
    img {
        height: auto;
        max-width: 100%;
    }
}

{% comment %}
/* Galaxy Nexus */
{% endcomment %}
@media only screen and (min-device-width : 720px) and (max-device-width : 1280px) {
    img {
        height: auto;
        max-width: 100%;
    }
    
    body {
        font-size: 16px;
    }
}
{% comment %}
/* end Android targeting */
{% endcomment %}