{% load staticfiles %}

{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Welcome to Raven{% endblock %}</title>
        
    <style type="text/css">
     {% include "email/base.css" %}
    </style>
        
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
      {% include "email/base.outlook.css" %}
    </style>
    <![endif]-->
  </head>
  <body style="{{ css_font }}
               background: #f5f5f5;
               color: {{ css_var_color_black }};
               line-height: {{ css_var_line_height }};
               Margin: 0 auto;
               max-width: 100%;
               padding: 0;
               -ms-text-size-adjust: 100%; 
               -webkit-text-size-adjust: 100%; 
               width: 100% !important;">
    {# <!-- Email body. The gray background --> #}
    <table width="100%" cellpadding="0" cellspacing="0" border="0" 
           style="{{ css_font }}
                  {{ css_table }}
                  background: #f5f5f5;
                  border: 1px solid #e5e5e5;
                  color: {{ css_var_color_black }};
                  line-height: {{ css_var_line_height }};
                  width: 100%;">
      <tbody>
        
        {# <!-- Email content padding --> #}
        <tr>
          <td valign="top" style="{{ css_td }}
                                  padding: 3%;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0"
                   style="{{ css_table }}">
              <tbody>
                <tr>
                  <td valign="top" style="{{ css_td }}">
                    
                    {# <!-- Email content wrapper --> #}
                    <!--[if (gte mso 9)|(IE)]>
                    <center>
                      <table cellpadding="0" cellspacing="0" border="0"
                             width="100%" style="{{css_table}}
                                                 width:100%;">
                        <tbody>
                          <tr>
                            <td style="Margin:0;padding:0;">&nbsp;</td>
                            <td style="Margin:0;padding:0;"
                                width="{{ css_var_content_width }}">
                    <![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0"
                           align="center" 
                           style="background: white;
                                  border: 1px solid #e5e5e5;
                                  border-collapse: collapse;
                                  Margin-bottom: 0;
                                  Margin-left: auto;
                                  Margin-right: auto;
                                  Margin-top: 0;
                                  max-width: {{ css_var_content_width }}px;
                                  mso-table-lspace: 0pt; 
                                  mso-table-rspace: 0pt;
                                  text-align: left;
                                  width: 100%;">
                      <tbody>
                        {# <!--  Header --> #}
                        <tr>
                          <td style="{{ css_td }}">
                            <table cellpadding="0" cellspacing="0" border="0"
                                   align="center"
                                   style="{{ css_table }}
                                          border-bottom: 1px solid #e5e5e5;
                                          width: 100%;">
                              <tbody>
                                <tr>
                                  {# <!--  Logo --> #}
                                  <td style="{{ css_td }}
                                             padding: 12px 0 12px 20px;">
                                    <a href="https://tryraven.com"
                                       style="border: none; display: block;">
                                    <img alt="Raven" width="94" height="27"
                                         src="{% static 'img/email/logo.png' %}"
                                         style="{{ css_img }}
                                                display: block;
                                                height: 27px;
                                                width: 94px;">
                                    </a>
                                  </td>
                                  {# <!--  Logo end --> #}
                                  
                                  {# <!--  Security icon --> #}
                                  <td align="right"
                                      style="{{ css_td }}
                                             padding: 12px 20px 12px 0;">
                                    <a href="https://tryraven.com"
                                       style="border: none; display: block;">
                                      <img alt="" src="{% static 'img/email/icon-secure.png' %}" width="9" height="11"
                                           style="{{ css_img }}
                                                  display: block;
                                                  width: 9px;
                                                  height: 11px">
                                    </a>
                                  </td>
                                  {# <!--  Security icon end --> #}
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {# <!--  Header end --> #}
                        
                        {# <!--  Content --> #}
                        <tr>
                          <td style="{{ css_td }}">
                            <table cellpadding="0" cellspacing="0" border="0"
                                   align="center"
                                   style="{{ css_table }}
                                          text-align: center;
                                          width: 100%;">
                              <tbody>
                                {% block content %}
                                {% endblock %}
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {# <!--  Content end --> #}
                                                
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td style="Margin:0;padding:0;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </center>
                    <![endif]-->
                    {# <!-- Email content wrapper end --> #}
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        {# <!-- Email content padding end --> #}
        
         
      </tbody>
    </table>
    {# <!-- Email body end --> #}
    
    {# <!-- Email foooter --> #}
    <table width="100%" cellpadding="0" cellspacing="0" border="0" 
           style="{{ css_font }}
                  {{ css_table }}
                  border: none;
                  color: {{ css_var_color_gray }};
                  font-size: 13px;
                  line-height: {{ css_var_line_height }};
                  width: 100%;">
      <tbody>
        
        {# <!-- Email footer padding --> #}
        <tr>
          <td valign="top" style="{{ css_td }}
                                  padding: 0 10px;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0"
                   style="{{ css_table }}">
              <tbody>
                <tr>
                  <td valign="top" style="{{ css_td }}">
                    
                    {# <!-- Email footer wrapper --> #}
                    <!--[if (gte mso 9)|(IE)]>
                    <center>
                      <table cellpadding="0" cellspacing="0" border="0"
                             width="100%" style="{{css_table}}
                                                 width:100%;">
                        <tbody>
                          <tr>
                            <td style="Margin:0;padding:0;">&nbsp;</td>
                            <td style="Margin:0;padding:0;"
                                width="{{ css_var_footer_width }}">
                    <![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0"
                           align="center" 
                           style="border-collapse: collapse;
                                  Margin-bottom: 0;
                                  Margin-left: auto;
                                  Margin-right: auto;
                                  Margin-top: 0;
                                  max-width: {{ css_var_footer_width }}px;
                                  mso-table-lspace: 0pt; 
                                  mso-table-rspace: 0pt;
                                  text-align: center;
                                  width: 100%;">
                      <tbody>
                        
                        {# <!-- Footer --> #}
                        <tr>
                          <td style="{{ css_td }}">
                            <table cellpadding="0" cellspacing="0" border="0"
                                   align="center" style="{{ css_table }}">
                              <tbody>
                                <tr>
                                  <td style="{{ css_td }}
                                             padding: 20px 0 0">
                                    <p style="{{ css_p_footer }}">
                                      {% block footer_content %}
                                      If this email was received in error, or
                                      you just want to discuss its contents
                                      you can contact us at
                                      <a href="mailto:support@tryraven.com" 
                                           style="{{ css_a_footer }}
                                                  font-weight: bold;">
                                        support@tryraven.com
                                        </a>
                                        {% endblock %}
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {# <!-- Footer end --> #}
                        
                        {# <!-- Footer links --> #}
                        <tr>
                          <td style="{{ css_td }}">
                            <table cellpadding="0" cellspacing="0" border="0"
                                   width="100%" align="center"
                                   style="{{ css_table }}
                                          text-align: center;
                                          width: 100%;">
                              <tbody>
                                <tr>
                                  <td style="{{ css_td }}
                                             padding: 20px 0">
                                    <p style="Margin: 0;">
                                      <a href="https://tryraven.com"
                                         style="{{ css_a_footer }}">
                                        Try Raven</a>
                                      <span style="padding: 0 4px 4px">|</span>
                                      
                                      <a href="https://tryraven.com/terms/"
                                         style="{{ css_a_footer }}">
                                        Terms of Service</a>
                                      
                                      <span style="padding: 0 4px 4px">|</span>
                                      
                                      <a href="https://tryraven.com/privacy/"
                                         style="{{ css_a_footer }}">
                                        Privacy Policy</a>
                                                                            
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {# <!-- Footer links end --> #}
                        
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td style="Margin:0;padding:0;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </center>
                    <![endif]-->
                    {# <!-- Email footer wrapper end --> #}
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        {# <!-- Email footer padding end --> #}
        
      </tbody>
    </table>
    {# <!-- Email foooter end --> #}
    
  </body>
</html>
{% endautoescape %}
